/* ------------
Google Fonts:
1. Montserrat
2. Roboto
----------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Roboto:300,400,500,700');


body {
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $darkGray;
    font-family: $montserrat;
    font-weight: 700;
    margin: 0;
}

a,
button {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

a,
button,
img,
input,
span,
::before,
::after {
    transition: all 0.3s ease 0s;
}

*:focus {
    outline: none;
}

a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button,
input[type="submit"] {
    cursor: pointer;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}