// All variables
// 01. Font Family
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;


// 02. Theme Color
$theme-color: #3bae7c;

// 03. Solid black and white
$white: #ffffff;
$black: #000000;

// 04. Dark colors
$darkGray: #2e2e2e;

// 05. Light colors
$lightGray: #f4f4f4;
